<li>
  {{question.question_area}}<br> ~{{question.author}}~ <br>
  <button class="btn btn-danger"{{action 'delete' question}}>Delete Question</button> <br>
  {{update-question question=question update="update"}}
</li>
