<h1> Welcome to Gathua Messaging Board </h1>
<div class="well">
<ul>
  {{#each model as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}<br>
  {{new-question saveQuestion2="saveQuestion3"}}
</ul>

<h2>Answers</h2>
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.answer_area}} - by ~{{answer.author}}~</li>
  {{/each}}
</ul>
</div>
