<h1> Welcome to Gathua Messaging Board </h1>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
  {{new-question saveQuestion2="saveQuestion3"}}
</ul>
